/* Variables */
:root {
  /*
  --basic-blue: #003153;
  --basic-dark-blue: #001828;
  --basic-extra-blue: #5297D1;
  --basic-red: #E63244;
  --basic-grey: #4E5754;
  --special: #ED760E; */
  --basic-black: #0A0A0A;
  --basic-white: #FFFAFA;
  --basic-purple: #8C1B50;
  --special: #ffd700;
  --basic-light-orange: #F28749;
  --basic-orange: #F26D3D;
  --basic-red: #D9072D;
  --basic-beige: #F2C094;
}

/* Visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1366px;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Container */
.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Main screen */
.main-screen {
  background-image: url(../img/orange-flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--basic-puple);
  width: 1366px;
  height: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 70px;
}

/* Main header top */
.main-header-top {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-socials {
  width: 100px;
  padding-left: 20px;
  margin-right: 120px;
  text-align: center;
}

.header-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: inherit;
}

.social-link:hover path,
.social-link:focus path {
  fill: var(--special);
}

/* Header navigation */
.header-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 1005px;
  margin: 0;
  padding: 0;
  min-height: 70px;
  list-style: none;
  text-transform: uppercase;
  background-color: transparent;
  /* opacity: 0.8; */
}

.header-navigation a {
  display: block;
  padding: 25px 20px;
  color: var(--basic-white);
}

.header-navigation a:hover,
.header-navigation a:focus {
  color: var(--special);
  /* background-color: var(--basic-purple); */
}

/* Main heading */
h1 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 110px;
  line-height: 120px;
  font-weight: 700;
  color: var(--basic-white);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 120px;
  text-align: center;
}

.main-heading-link {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.main-heading-link:hover,
.main-heading-link:focus {
  background-color: var(--special);
  color: var(--basic-black);
}

/* Gallery */
.gallery {
  margin-bottom: 70px;
}

.gallery h2 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-item {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid var(--basic-white);
  margin-bottom: 20px;
}

.gallery-item:hover,
.gallery-item:active {
  outline: 4px solid var(--special);
  background-color: var(--basic-blue);
  color: var(--basic-black);
}

.gallery-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
}

.gallery-item p {
  margin: 0 10px;
}

.gallery-button {
  margin-bottom: 10px;
}

.gallery-item ul {
  list-style: none;
  display: flex;
align-items: center;

  min-height: 200px;

}

.gallery figure {
  margin: 0;
  padding: 0;
}

/* Feedback */
.feedback {
  margin-bottom: 70px;
  background-color: var(--basic-purple);
}

.feedback h2 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
  color: var(--basic-white);
}

.feedback-list {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 2fr 1fr; */
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback-item {
  min-height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 19px;
}

.feedback-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
}

.feedback-item p {
  margin: 0 10px;
}

.feedback figure {
  margin: 0;
  padding: 0;
}

.feedback img {
  /* box-shadow: 20px 20px rgba(242, 109, 61, .5); */
  /* box-shadow: 20px 20px rgba(0, 0, 0, .5); */
  box-shadow: 20px 20px rgba(255, 255, 255, .1);
}

.feedback blockquote {
    position: relative;
    padding: 16px 24px;
    margin: 16px 46px;
    /* font-size: 16px; */
    text-align: center;
    color: var(--basic-white);
    background-color: rgba(255, 255, 255, .1);
}

.feedback blockquote::before,
.feedback blockquote::after {
    position: absolute;
    /* color: var(--basic-light-orange); */
    color: var(--basic-white);
    font-size: 110px;
    font-family: Times, sans-serif;
    line-height: 110px;
}

.feedback blockquote::before {
    content: "“";
    left: -30px;
    top: -10px;
}

.feedback blockquote::after {
    content: "”";
    right: -30px;
    bottom: -10px;
}

.feedback blockquote cite {
    font-size: 16px;
    padding-top: 25px;
    display: block;
    font-style: normal;
}

/* How to order */
.how-to-order {
  margin-bottom: 70px;
}

.how-to-order h2 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.how-to-order-list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-to-order-item {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid var(--basic-white);
  margin-bottom: 20px;
}

.how-to-order-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
}

.how-to-order-item p {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.how-to-order h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
}

.how-to-order-link {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.how-to-order-link:hover,
.how-to-order-link:focus {
  background-color: var(--special);
  color: var(--basic-black);
}

.order-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.order-columns p {}

/* Price&terms */

.price-terms {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 70px;
  font-size: 20px;
}

/* .price-terms-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
} */

.price-terms-item {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid var(--basic-black); */
  margin-bottom: 20px;
  color: var(--basic-white);
}

.price-terms-item ul {
  /* list-style: none; */
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.price-terms h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
}

.price-terms-item p {
  /* margin: 0 10px; */
}

.price-terms span {
  margin-bottom: 10px;
}

.price-terms-price {
  background-color: var(--basic-purple);
  background-image: url("../img/price-terms icons/purse-wallet-svgrepo-com.svg");
background-size: contain;
background-position: right;
background-repeat: no-repeat;
}

.price-terms-terms {
  background-color: var(--basic-purple);
 background-image: url("../img/price-terms icons/hourglass.svg");
background-size: contain;
background-position: left;
background-repeat: no-repeat;
 text-align: center;
}

/* Price examples */

.price-examples {
  margin-bottom: 70px;
}

.price-examples-list {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 2fr 1fr; */
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.price-examples-item {
  min-height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price-examples h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

/* .feedback-item p {
  margin: 0 10px;
}

.feedback figure {
  margin: 0;
  padding: 0;
}

.feedback img {
  box-shadow: 20px 20px rgba(242, 109, 61, .5);
}

.feedback blockquote {
    position: relative;
    padding: 16px 24px;
    margin: 16px 46px;
    /* font-size: 16px; */
    text-align: center;
    color: var(--basic-white);
    background-color: rgba(255, 255, 255, .1);
}

.feedback blockquote::before,
.feedback blockquote::after {
    position: absolute;
    color: var(--basic-light-orange);
    font-size: 110px;
    font-family: Times, sans-serif;
    line-height: 110px;
}

.feedback blockquote::before {
    content: "“";
    left: -30px;
    top: -10px;
}

.feedback blockquote::after {
    content: "”";
    right: -30px;
    bottom: -10px;
}

/* .feedback blockquote cite {
    color: var(--basic-orange);
    font-size: 16px;
    padding-top: 25px;
    display: block;
    font-style: normal;
} */

/* Delivery&payment */
.delivery-payment {
  margin-bottom: 70px;
  background-color: var(--basic-purple);
  color: var(--basic-white);
}

.delivery-payment h2 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.delivery-payment-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.delivery-payment-item {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.delivery-payment h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
}

.delivery-payment-item p {
  margin: 0 10px;
}


/* Product care */
.product-care {
  margin-bottom: 70px;
}

.product-care h2 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.product-care-list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-care-item {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-care h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

.product-care-item p {
  margin: 0 10px;
}

.product-care-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* .how-to-order-list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-to-order-item {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid var(--basic-white);
  margin-bottom: 20px;
}

.how-to-order-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
}

.how-to-order-item p {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.how-to-order h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 45px;
}

.how-to-order-link {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.how-to-order-link:hover,
.how-to-order-link:focus {
  background-color: var(--special);
  color: var(--basic-black);
}

.order-columns {

} */


/* Contacts */
.contacts {
  /* margin-bottom: 70px; */
  display: flex;
  flex-direction: column;
}

.contacts-info {

}


.contacts h2 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts a {
  color: var(--basic-red);
  text-decoration: underline;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--special);
}

.contacts li {
  margin-bottom: 10px;
}

/* Main footer */
.main-footer {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background-color: var(--basic-purple);
}

/* Main footer bar */
.main-footer-bar {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  /* background-color: var(--basic-purple); */
}

.footer-socials {
  width: 100px;
  padding-left: 20px;
  margin-right: 120px;
  text-align: center;
}

.footer-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: inherit;
}

.social-link:hover path,
.social-link:focus path {
  fill: var(--special);
}

/* Footer navigation */
.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 1005px;
  margin: 0;
  padding: 0;
  min-height: 70px;
  list-style: none;
  text-transform: uppercase;
  background-color: transparent;
  /* opacity: 0.8; */
}

.footer-navigation a {
  display: block;
  padding: 25px 20px;
  color: var(--basic-white);
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: var(--special);
  /* background-color: var(--basic-purple); */
}
