/* Variables */
:root {
  /* --basic-black: #0A0A0A;
  --basic-white: #FFFAFA;
  --basic-blue: #003153;
  --basic-dark-blue: #001828;
  --basic-extra-blue: #5297D1;
  --basic-red: #E63244;
  --basic-grey: #4E5754;
  --special: #ED760E; */

  --basic-purple: #333140;
  --basic-yellow: #F2BE22;
  --basic-light-orange: #F28749;
  --basic-orange: #F26D3D;
  --basic-red: #D93D3D;
}
